.important {
    color: brown;
}

.color {
    color: red;
}

.textCenterAlign {
    font-size: 18px;
    text-align: center;
}

.blue-bg {
    background-color: blue;
}

.border-test {
    border: 2px solid tomato;
}